.modal-container {
  z-index: -1 !important;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;

  position: absolute;
  width: 100%;
  max-width: 523px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* Neutrals/01 */

  background: #ffffff;
  /* Drop shadow/32dp */

  box-shadow: 0px 24px 48px 10px rgba(35, 38, 47, 0.03),
    0px 32px 64px 10px rgba(35, 38, 47, 0.08);
  border-radius: 24px;

  .modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    gap: 0px;
    margin: 0px;

    &__close {
      cursor: pointer;
    }

    &__title {
      color: rgba(35, 38, 47, 1);
      font-weight: 700;
      font-size: 32px;
    }
  }

  .line {
    width: 100%;
    height: 1px;

    background: #e6e8ec;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .order-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__text {
      color: #23262f;
      //styleName: Web/Body Large/Bod Regular;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.5px;
      text-align: left;
    }

    &__info {
      color: #782eec;
      //styleName: Web/Body Large/Body Medium;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.005em;
      text-align: right;
    }
    &__text1 {
      color: #777E90;
      //styleName: Web/Body Large/Bod Regular;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.5px;
      text-align: left;
    }

    &__info1 {
      color: #23262F;
      //styleName: Web/Body Large/Body Medium;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.005em;
      text-align: right;
    }
    &__input{
      input{
        width: 40%;
        float: right;
        height: 26px;
        border-radius: 24px;
        border: 1px solid #e6e8ec;
        padding: 0px 10px;
        color: #782eec;
        //styleName: Web/Body Large/Body Medium;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.005em;
        text-align: right;
        box-shadow: inset 0px 0px 0px 1px #e6e8ec;
        &::placeholder{
          color: #777E90;
        }
      }
    }
  }

  .order-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__text {
      color: #23262f;
      //styleName: Web/Body Large/Bod Regular;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.5px;
      text-align: left;
      margin: 0 8px;
    }

    &__icon {
      width: 24px;
      height: 24px;
      position: relative;
      &:hover{
        .hover-hint{
          visibility: visible;
          @media screen and (max-width:768px) {
            visibility: hidden;
          }
        }
        &::after{
          visibility: visible;
          @media screen and (max-width:768px) {
            visibility: hidden;
          }
        }
      }
      &::after {
        content: "";
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #782eec;
        font-size: 0;
        line-height: 0;
        float: left;
        visibility: hidden;
        transition: all 0.5s ease-in-out;
      }
      .hover-hint {
        transition: all 0.5s ease-in-out;
        position: absolute;
        top: -85px;
        left: 0;
        transform: translateX(-50%);
        padding: 12px 16px;
        width: 283px;
        background: #782eec;
        border-radius: 12px;
        color: #ffffff;
        visibility: hidden;
      }
    }
  }

  .modal-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &__left,
    &__right {
      width: calc(100% / 2);
    }
  }
}

@media screen and (max-width:634px) {
  .modal-container{
    width: 85%;
    padding: 16px;
  }
  .modal-bottom{
    flex-direction: column;
    align-items: center;
   
  }
  .modal-container .modal-bottom__left, .modal-container .modal-bottom__right,
  .modal-container .modal-bottom__left, .modal-container .modal-bottom__left{
    width: 100%;
    margin-bottom: 10px;
  }
}